<header>
    <nav class="menu">
        <ul class="menu-list">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a class="new-task" href="{% url 'task:create_task' %}">New task</a></li>
            <li>
                <select name="account" id="account">
                        <option value="#">User</option>
                        <option value="#">Profile</option>
                        <option value="#">Change password</option>
                        <option value="#">Update account</option>
                        <option value="#">Log out</option>
                </select>
            </li>
        </ul>
    </nav>
</header>